.topic {
    display: flex;
    background: var(--color-5);
    width: 90%;
    max-width: 40rem;
    padding: 10px;
    border-radius: 10px;
    gap: 13px;
}

.ics-img {
    width: 25%;
    max-width: 100px;
    aspect-ratio: 1;
}

.ics-txt {
    width: 75%;
    padding: 10px;
    border-radius: 10px;
}

.ics-buttons {
    display: flex;
    gap: 10px
}

@media (min-width: 1050px) {
    .topic {
        width: 75%;
        padding: 10px;
    }
}