*{
    padding: 0;
    margin: 0;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}



:root{
    --white-color:#ffffff;
    --black-color:#000000;

    --box-shadow:#00000025;

    /*Main*/
    --color-1:#e9228f;
    --color-2:#f06b9a;
    --color-3:#fd84b2;
    --color-4:#f7b5cc;
    --color-5:#fff0fa;
    --color-6:#201613;

    /*Text*/
    --t-color-1:#f06b9a;
    --t-color-2:#fd8ab2;
    --t-color-3:#533931;
    --t-color-4:#050505;
    --t-color-5:#222222;
    --t-default:#464746;
    --t-color-7:#828282;
}

/*Estrutura de Propriedades

.exemplo-componente {
  [Posicionamento]
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;

  [Modelo de Caixa]
  display: block;
  width: 100px;
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;

  [Tipografia]
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;

  [Visual]
  background-color: #f0f0f0;
  border-radius: 5px;

  [Outros]
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}
*/

/*Templates*/
.button-fill{
    display: flex;
    height: 30px;
    padding: 3px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
    color: var(--white-color);
    border-radius: 100px;
    background: #FD84B2;
}

.button-contoured{
    display: flex;
    height: 30px;
    padding: 3px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
    color: var(--t-color-7);
    border-radius: 100px;
    border: 1px solid var(--t-color-7);
    background: rgba(255, 255, 255, 0.00);
}

/*Catalog-Item*/
.m-item-lbl-white{
    display: flex;
    width: 171px;
    height: 275px;
    padding: 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    grid-row: 1 / span 1;
    grid-column: 3 / span 1;
    box-sizing: border-box;
    
    border-radius: 20px;
    background: var(--white-color);
}

.m-item-lbl-white > .square-label{
    display: flex;
    height: 151px;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    
    border-radius: 10px;
    background: var(--color-5)
}

.m-item-lbl-white > .product-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    align-self: stretch;
}

.product-info > .stars-lbl{
    display: flex;
    align-items: center;
    gap: 4px;
    align-self: stretch;
}

.product-info > h2{
    height: 44px;
    align-self: stretch;
    
    color: var(--t-default);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.m-item-lbl-white > .product-footer{
    display: flex;
    width: 100%;
    align-items: center;
}

.product-footer > h2 {
    display: flex;
    height: 37px;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1 0 0;

    color: #FD84B2;

    /* M Inter H2 */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;  
}
/*Fim_Templates*/

header{
    display: flex;
    width: 100%;
    height: 90px;
    align-items: center;
    
    background-color: var(--color-1);
    border-radius: 0 0 20px 20px;

    box-shadow:var(--box-shadow) 0 4px 4px;
}

header > img {
    width: 89px;
    height: 40px;
    margin-left: 25px;
}

/*Carousel Container*/
.carousel-container {
    display: flex;
    width: 100%;
    max-height: 32rem;
    margin: 20px;
    justify-self: center;
}

.main-title {
    font-size: 1.875rem; /* 30px */
    font-weight: bold;
    text-align: center;
    color: #1f2937; /* cinza escuro */
    margin-bottom: 2rem; /* 32px */
}

/* --- Carrossel --- */
.carousel-wrapper {
    position: relative;
    overflow: hidden;
    aspect-ratio: 16 / 9;
}

.carousel-slide {
    display: flex;
    align-items: center; /* Alinha os itens verticalmente */
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    width: 80%; /* Item principal ocupa 80% do espaço */
    height: 90%; /* Altura um pouco menor para efeito de escala */
    flex-shrink: 0;
    margin: 0 2%; /* Espaçamento entre os itens */
    border-radius: 10px;
    transition: transform 0.5s ease-in-out;
    transform: scale(0.9); /* Itens não ativos são menores */
    box-shadow: 0 4px 4px 0 var(--box-shadow);
}

.carousel-item.active {
    transform: scale(1); /* Item ativo em tamanho normal */
}


.carousel-item img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 10px; /* Bordas arredondadas nas imagens */
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
}

/* --- Botões de Navegação --- */
.nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid #F7B5CC;
    background: #fff0fa50;
    backdrop-filter: blur(2px);
    padding: 0.75rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 10;
}

.nav-btn:hover {
    background: rgba(240, 107, 154, 0.50);
}

.nav-btn#prevBtn {
    left: 0;
    border-radius: 0px 20px 20px 0px;
}

.nav-btn#nextBtn {
    right: 0;
    border-radius: 20px 0px 0px 20px;
}

.nav-btn svg {
    width: 1.5rem;
    height: 1.5rem;
    stroke: #1f2937;
}

/* --- Indicadores de Posição --- */
.indicators-wrapper {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 0.5rem;
}

.indicator {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.indicator.active {
    background-color: #ffffff;
}

/*Promotion Store*/
.promotion-store{
    display: flex;
    width: 100%;
    margin: 20px 0;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    background-color: #FFE3EA;
    box-sizing: border-box;
}

.promotion-store > h1{
    color: #533931;
    text-align: center;
    
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.promotion-store > .ps-info{
    display: flex;
    height: 52px;
    padding: 6px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.promotion-store > .ps-info > h3{
    width: 200px;
    height: 18px;
    
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    
}

.promotion-store > .ps-info > div{
    display: flex;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;

    background-color: #dedede;
    border-radius: 100%;

}

.marketing-section{
    display: flex;
    margin: 20px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    
    border-radius: 20px;
    border: 1px solid var(--t-color-3);
    box-sizing: border-box;
}

.marketing-section > h1{
    height: 48px;
    color: var(--t-color-3);
    text-align: center;
    
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.marketing-section > p {
    color: var(--t-color-7);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.marketing-section > button{
    display: flex;
    padding: 3px;
    align-items: center;
    gap: 2px;
    
    border-radius: 100px;
    background: #FD84B2;
}

.marketing-section > button > p{
    width: 97px;
    height: 18px;

    color: var(--white-color);
    text-align: center;
    
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}

.marketing-section > button > img{
    width: 24px;
    height: 24px;
    aspect-ratio: 1/1;
}

.catalog-demo-section{
    display: flex;
    box-sizing: border-box;
    margin: 20px;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    border-radius: 20px;
    background: #FFE3EA;
}

.catalog-demo-section > h1{
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.catalog-demo-section > div{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.catalog-demo-section > .catalog-items{
    display: flex;
    height: 555px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    
    border-radius: 10px;
}

.scroll-items{
    display: grid;
    width: 528px;
    height: 555px;
    row-gap: 5px;
    column-gap: 5px;
    grid-template-rows: repeat(2, minmax(0, 1fr)); /*Definir tuplas no grid*/
    grid-template-columns: repeat(3, minmax(0, 1fr)); /*Definir colunas no grid*/

    border-radius: 10px;
}
/*Hover Menu*/
.hover-menu{
    display: grid;
    width: 100%;
    max-width: 350px;
    height: 80px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 2px;
    grid-template-rows: repeat(1, minmax(0, 1fr));
    grid-template-columns: repeat(5, minmax(0, 1fr));
    box-sizing: border-box;

    border-radius: 30px;
    border: 1px solid #F7B5CC;
    background: rgba(240, 107, 154, 0.50);
    backdrop-filter: blur(2px);
    box-shadow: 0 4px 4px 0 var(--box-shadow);

    position: sticky;
    bottom: 1rem;
    justify-self: center;
    align-items: center;
    overflow: hidden;
}

.hover-menu > button{
    display: flex;
    width: 70px;
    aspect-ratio: 1/1;
    background-color: transparent;
    border: 0;
    border-radius: 28px;
    
    align-items: center;
    justify-content: center;

    transition: background-color 0.3s ease;
}

.hover-menu > button:hover{
    background: rgba(240, 107, 154, 0.50);
}

.hover-menu > button > img{
    width: 25px;
    height: 25px;
}
