<!--ADS FLAVOURS-->
<section class="ads-flavours">
    <div class="af-banner af-one">
        <div class="af-content">
            <h1>100% natural</h1>
            <p>Cremoso, refrescante e sabor intenso. Opções sem lactose.</p>
            <button class="button-fill-icon flavours-color-1">
                <p>Ver sorvetes</p>
                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g stroke-width="0"/><g stroke-linecap="round" stroke-linejoin="round"/><g stroke=var(--white-color) stroke-width="1.5" stroke-linecap="round"><path d="m9 15 6-6m0 0h-4.5M15 9v4.5" stroke-linejoin="round"/><path d="M7 3.338A9.95 9.95 0 0 1 12 2c5.523 0 10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12c0-1.821.487-3.53 1.338-5"/></g></svg>
            </button>
        </div>
        <img class="af-img" src="./assets/images/sorvete-morango-img.webp" alt="" srcset="">
    </div>
    <div class="af-banner af-two">
        <div class="af-content">
            <h1>Frete grátis</h1>
            <p>Entrega rápida ao comprar até às 16h30.</p>
            <button class="button-fill-icon flavours-color-2">
                <p>Ver doces</p>
                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g stroke-width="0"/><g stroke-linecap="round" stroke-linejoin="round"/><g stroke=var(--white-color) stroke-width="1.5" stroke-linecap="round"><path d="m9 15 6-6m0 0h-4.5M15 9v4.5" stroke-linejoin="round"/><path d="M7 3.338A9.95 9.95 0 0 1 12 2c5.523 0 10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12c0-1.821.487-3.53 1.338-5"/></g></svg>
            </button>
        </div>
        <img class="af-img" src="./assets/images/chocolate-trufas-img.webp" alt="" srcset="">
    </div>
</section>