<section class="footer-info">
    <img src="/assets/images/suki-doces-logo.svg" alt="suki-logo">
    <div class="footer-list">
        <h2 class="f-h2">Informações</h2>
        <nav>
            <a class="f-txt-w" href="/pages/sobre.php">Quem Somos</a>
            <a class="f-txt-w" href="#">Nossa Loja</a>
            <a class="f-txt-w" href="#">Termos e Condições</a>
            <a class="f-txt-w" href="#">Política de Troca e Devolução</a>
            <a class="f-txt-w" href="#">Label 5</a>
        </nav>
    </div>
    <div class="footer-list">
        <h2 class="f-h2">Categorias</h2>
        <nav>
            <!-- <?php if (!empty($categoriasFooter)): ?>
                    <?php foreach ($categoriasFooter as $cat): ?>
                    <a class="f-txt-w"
                        href="<?php if(function_exists('DirDetect')) DirDetect();?>pages/produtos.php?categoria=<?= $cat['id_categoria'] ?>">
                        <?= htmlspecialchars($cat['nome']) ?>
                    </a>
                    <?php endforeach; ?>
                    <?php else: ?> -->
            <a class="f-txt-w" href="#">Sem categorias</a>
        </nav>
    </div>
    <div class="footer-about" id="ftr-contacts">
        <div class="fa-topic">
            <img src="/assets/icons/interface/location-pin-icon.svg" alt="ícone de mapa">
            <p class="f-txt-w">Endereço: Rua Praça Castelo Branco, 365</p>
        </div>
        <div class="fa-topic">
            <img src="/assets/icons/interface/phone-mob-icon.svg" alt="ícone de telefone">
            <p class="f-txt-w">(11) 2759-8847</p>
        </div>
        <div class="fa-topic">
            <img src="/assets/icons/interface/mail-icon.svg" alt="ícone de carta">
            <p class="f-txt-w">E-mail: sukidoces&#64;hotmail.com</p>
        </div>
        <div class="fa-topic">
            <p class="f-txt-w">Siga-nos nas Redes:</p>
            <a href="">
                <img class="social-media-ico" src="/assets/icons/interface/facebook-icon.svg" alt="ícone de Facebook">
            </a>
            <a href="">
                <img class="social-media-ico" src="/assets/icons/interface/instagram-icon.svg" alt="ìcone de Instagram">
            </a>
            <a href="">
                <img class="social-media-ico" src="/assets/icons/interface/tiktok-icon.svg" alt="Ícone de Tiktok">
            </a>
        </div>
    </div>
</section>
<p class="f-txt-w copyright-txt"><a href="">Suki Doces</a>. Todos os direitos reservados.</p>