<section class="contoured-container login-container">
    <div class="login-box" id="loginBox">
        <img src="../../assets/images/suki-doces-logo-1.svg" alt="Logo_Suki" class="logo">
        <!-- Inputs de rádio (A Lógica) -->
        <input type="radio" id="lgn-tab1" name="login-tabs" checked>
        <input type="radio" id="lgn-tab2" name="login-tabs">

        <!-- O Switch Visual -->
        <div class="login-switch-container">
            <div class="login-slider-bg"></div> <!-- O fundo que se move -->
            <label for="lgn-tab1" class="lgn-tab-label">Entrar</label>
            <label for="lgn-tab2" class="lgn-tab-label">Cadastrar</label>
        </div>

        <!-- CONTEUDO DAS ABAS -->
        <div class="login-type">
            <div class="login-tp-page lgn-sign-in-screen">
                <form action="../conta/processa_login.php" method="post">
                    <p>Email</p>
                    <input class="login-input" type="email" name="email" id="login_email"
                        placeholder="Ex. joaoemail.com" required />
                    <p>Senha</p>
                    <input class="login-input" type="password" name="senha" id="login_pass" placeholder="Sua senha"
                        required />
                    <p>Tipo de usuário</p>
                    <select class="login-select" name="role" required>
                        <option class="login-select-opt" value="" disabled selected>Clique para selecionar</option>
                        <option class="login-select-opt" value="user">Cliente</option>
                        <option class="login-select-opt" value="admin">Administrador</option>
                    </select>
                    <button class="button-fill login-btn" type="submit">
                        <p>Entrar</p>
                    </button>
                </form>
            </div>

            <div class="login-tp-page lgn-sign-up-screen">
                <form action="../conta/processa_cadastro.php" method="post">
                    <p>Nome Completo</p>
                    <input class="login-input" type="text" name="username" placeholder="Ex. João da Silva" required />
                    <p>Email</p>
                    <input class="login-input" type="email" name="email" placeholder="Ex. joao@email.com" required />
                    <p>Senha</p>
                    <input class="login-input" type="password" name="senha" placeholder="Crie uma senha" required />
                    <button class="button-fill login-btn" type="submit">
                        <p>Cadastrar</p>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <!-- Login Image -->
    <div class="login-img">
        <!--Coloque aqui o aviso-->
    </div>
</section>