/*ADS FLAVOURS*/
.ads-flavours {
    display: flex;
    margin: 20px;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    border-radius: 20px;
    overflow: visible;
}

.af-banner {
    display: flex;
    width: 100%;
    height: 150px;
    justify-content: center;
    align-items: center;
    backdrop-filter: none;
}

.af-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.af-content>h1 {
    color: var(--white-color);
    text-align: center;
}

.af-content>p {
    color: var(--white-color);
    text-align: center;
}

.ads-flavours>.af-one {
    background: radial-gradient(50% 50% at 50% 50%, #81E8A8 0%, #67B992 100%);
    border-radius: 20px 20px 10px 10px;
}

.ads-flavours>.af-two {
    background: radial-gradient(50% 50% at 50% 50%, #FFCE92 0%, #FF7B00 100%);
    border-radius: 10px 10px 20px 20px;
}

.af-img {
    display: none;
}

@media (min-width: 1050px) {
    .ads-flavours {
        flex-direction: row;
        margin: 20px 15rem;
        gap: 20px;
        border-radius: 20px;
    }

    .af-banner {
        flex: 1;
        justify-content: space-between;
        height: 220px;
        padding: 20px;
        overflow: hidden;
    }

    .ads-flavours>.af-one,
    .ads-flavours>.af-two {
        border-radius: 20px;
    }

    .af-content {
        flex: 1;
        align-items: flex-start;
        padding-right: 10px;
    }

    .af-content>h1,
    .af-content>p {
        text-align: left;
    }

    .af-img {
        display: block;
        max-width: 45%;
        height: 100%;
        object-fit: contain;
    }
}