<!-- HOVER NAV -->
<nav class="hover-nav">

    <!-- Item 1: Link Direto (Home) -->
    <a class="hnv-a-btn" href="/" aria-label="Página inicial">
        <button class="hnv-button">
            <svg height="21" viewBox="0 0 21 21" width="21" xmlns="http://www.w3.org/2000/svg">
                <g fill="none" fill-rule="evenodd" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                    transform="translate(1 1)">
                    <path d="m.5 9.5 9-9 9 9" />
                    <path d="m2.5 10.5v4c0 1.1045695.8954305 2 2 2h10c1.1045695 0 2-.8954305 2-2v-4" />
                </g>
            </svg>
            <p>Home</p>
        </button>
    </a>

    <!-- Item 2: Dropdown (Pesquisa) -->
    <div class="hnv-button-wrapper">
        <button class="hnv-button hnv-toggle-btn" data-target="search-menu" aria-label="Abrir pesquisa">
            <svg height="21" viewBox="0 0 21 21" width="21" xmlns="http://www.w3.org/2000/svg">
                <g fill="none" fill-rule="evenodd" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="8.5" cy="8.5" r="5" />
                    <path d="m17.571 17.5-5.571-5.5" />
                </g>
            </svg>
            <p>Procurar</p>
        </button>

        <!-- Painel Flutuante -->
        <div id="search-menu" class="hnv-dropdown hnv-search-panel">
            <form action="/pages/produtos.php" method="get" class="hnv-search-form">
                <input type="search" name="query" placeholder="O que você procura?" required>
                <button type="submit" aria-label="Pesquisar">
                    <svg height="21" viewBox="0 0 21 21" width="21" xmlns="http://www.w3.org/2000/svg">
                        <g fill="none" fill-rule="evenodd" stroke="currentColor" stroke-linecap="round"
                            stroke-linejoin="round">
                            <circle cx="8.5" cy="8.5" r="5" />
                            <path d="m17.571 17.5-5.571-5.5" />
                        </g>
                    </svg>
                </button>
            </form>
        </div>
    </div>

    <!-- Item 3: Link Direto (Carrinho) -->
    <a class="hnv-a-btn" href="/pages/carrinho.php" aria-label="Carrinho de Compras">
        <button class="hnv-button">
            <svg viewBox="0 0 24.00 24.00" fill="none" xmlns="http://www.w3.org/2000/svg" transform="rotate(0)">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC"
                    stroke-width="0.048"></g>
                <g id="SVGRepo_iconCarrier">
                    <path
                        d="M7.5 18C8.32843 18 9 18.6716 9 19.5C9 20.3284 8.32843 21 7.5 21C6.67157 21 6 20.3284 6 19.5C6 18.6716 6.67157 18 7.5 18Z"
                        stroke="#000000" stroke-width="1.5"></path>
                    <path
                        d="M16.5 18.0001C17.3284 18.0001 18 18.6716 18 19.5001C18 20.3285 17.3284 21.0001 16.5 21.0001C15.6716 21.0001 15 20.3285 15 19.5001C15 18.6716 15.6716 18.0001 16.5 18.0001Z"
                        stroke="#000000" stroke-width="1.5"></path>
                    <path
                        d="M2 3L2.26121 3.09184C3.5628 3.54945 4.2136 3.77826 4.58584 4.32298C4.95808 4.86771 4.95808 5.59126 4.95808 7.03836V9.76C4.95808 12.7016 5.02132 13.6723 5.88772 14.5862C6.75412 15.5 8.14857 15.5 10.9375 15.5H12M16.2404 15.5C17.8014 15.5 18.5819 15.5 19.1336 15.0504C19.6853 14.6008 19.8429 13.8364 20.158 12.3075L20.6578 9.88275C21.0049 8.14369 21.1784 7.27417 20.7345 6.69708C20.2906 6.12 18.7738 6.12 17.0888 6.12H11.0235M4.95808 6.12H7"
                        stroke="#000000" stroke-width="1.5" stroke-linecap="round"></path>
                </g>
            </svg>
            <p>Carrinho</p>
        </button>
    </a>

    <!-- Item 4: Dropdown (Perfil) -->
    <div class="hnv-button-wrapper">
        <button class="hnv-button hnv-toggle-btn" data-target="profile-menu" aria-label="Abrir menu do perfil">
            <svg height="21" viewBox="0 0 21 21" width="21" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="m7.5.5c1.65685425 0 3 1.34314575 3 3v2c0 1.65685425-1.34314575 3-3 3s-3-1.34314575-3-3v-2c0-1.65685425 1.34314575-3 3-3zm7 14v-.7281753c0-3.1864098-3.6862915-5.2718247-7-5.2718247s-7 2.0854149-7 5.2718247v.7281753c0 .5522847.44771525 1 1 1h12c.5522847 0 1-.4477153 1-1z"
                    fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                    transform="translate(3 2)" />
            </svg>
            <p>
                User
            </p>
        </button>

        <!-- Painel Flutuante -->
        <div id="profile-menu" class="hnv-dropdown hnv-profile-panel">
            <!-- Se o usuário estiver logado, mostrar opções de perfil e logout; caso contrário, mostrar opção de login/cadastro
            <a class="hnv-pp-links" href="/pages/client/perfil.php">Meus Dados</a>
            <hr>
            <a class="hnv-pp-links" href="/pages/meus_pedidos.php">Pedidos</a>
            <hr>
            <a class="hnv-pp-links" href="/pages/conta/logout.php" style="color: #e9228f;">Sair</a>
            se o usuário não estiver logado: -->
            <a class="hnv-pp-links" href="/pages/conta/login.php">Entrar / Cadastrar</a>
        </div>
    </div>
</nav>