<!--Marketing Section-->
<section class="contoured-container marketing-section">
    <h1>Doces que encantam, momentos que marcam</h1>
    <p>Na Suki Doces, somos apaixonados por transformar ingredientes de qualidade em verdadeiras experiências de
        sabor. <strong>Seja bem-vindo ao nosso mundo doce. Seja bem-vindo à Suki Doces.</strong>
    </p>
    <a routerLink="/produtos">
        <button class="button-fill-icon">
            <p>Ver catálogo</p>
            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g stroke-width="0"/><g stroke-linecap="round" stroke-linejoin="round"/><g stroke=var(--white-color) stroke-width="1.5" stroke-linecap="round"><path d="m9 15 6-6m0 0h-4.5M15 9v4.5" stroke-linejoin="round"/><path d="M7 3.338A9.95 9.95 0 0 1 12 2c5.523 0 10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12c0-1.821.487-3.53 1.338-5"/></g></svg>
        </button>
    </a>
</section>