footer{
    background-color: var(--color-6);
    border-radius: 20px 20px 0 0;
    display: flex;
    padding: 20px 20px 7rem 20px;
    flex-direction: column;
    align-items: self-start;
    gap: 10px;
}
.footer-info{
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
}
.footer-info > img{
    width: 100px;
    aspect-ratio: 89/40;
    align-self: anchor-center;
}
.footer-list{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 0;
}
.footer-list > nav{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.f-h2{
    color: #fec2d8;
}
.f-txt-w{
    color: var(--white-color);
}
.footer-about{
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-color: #17100E;
    width: 100%;
    padding: 10px;
    gap: 10px;
    border-radius: 10px;
    box-sizing: border-box;
}
.fa-topic{
    display: flex;
    padding: 10px;
    gap: 10px;
}

.copyright-txt{
    align-self: center;
}
.copyright-txt > a{
    color: var(--color-4);
}

.social-media-ico{
    width: 25px;
    aspect-ratio: 1/1;
}

@media (min-width: 1050px){
    footer{
        padding: 50px 0;
    }
    .footer-info{
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
    }
    .footer-info > img{
        width: 125px;
        height: min-content;
        align-self: auto;
    }
    .footer-about{
        width: auto;
    }
    .footer-list{
        padding: 0;
    }
    .copyright-txt{
        padding-top: 30px;
    }
}